@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', 'Lato', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #ffffff;
  background-color: #0d0d0d;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #fff;
}